
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:darkgoldenrod;">Under Process..</h1>
<p style="color:darkgoldenrod;">Your Assessment is being processed..We will get back to you soon..</p>

