@{
    ViewData["Title"] = "Home Page";
}
       
<div class="slideshow-container" style="color:darkgoldenrod;">
    @*Full-width images with number and caption text*@
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/Images/StayHomeStaySafe.jpg" style="width:100%;">
        <div class="text">Stay home! Stay Safe</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/Images/NoMoreStruggleInSilence.jpg" style="width:100%;">
        <div class="text">No more struggle in silence!</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/Images/WeAreListening.jpg" style="width:100%;">
        <div class="text">We are listening!</div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/slideshow.js"></script>
}

