
@{
    ViewData["Title"] = "DIYRemediesRestlessness";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DIY Remedies Restlessness</h1>
o	Reduce stress
o	Establish sleep rituals and routines
o	Use an eye mask to block out light
o	Sleep in a cool room Trusted Source
o	Exercise
o	Eat a healthy diet
o	Meditation

