
@{
    ViewData["Title"] = "DIYRemedies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DIY Remedies</h1>

o	Meditation
o	Breathing exercises
o	Talk to a friend/family/relative/counsellor
o	Follow a routine in everyday life
o	Walk, jog or workout
o	Get a good night’s sleep
o	Eat healthy meals


