
@{
    ViewData["Title"] = "GetHelp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:darkgoldenrod">Get Help</h1>
<span style="color:darkgoldenrod">
    <br />
    <br />
    <p style="font-size:20px;">
        <b> Psychiatrist/Psychologist/Therapist</b>
    </p>
    <p>
        Choose a therapist who feels right for you -
        It is important for you to feel comfortable opening up to your therapist.
        In most cases the race, gender, sexual orientation, religion or other demographic aspects of
        therapists is not an issue, but sometimes, preconceived notions or past life experiences
        can affect our ability to communicate comfortably with certain therapists.

        For example, a woman who has been sexually assaulted by a man may prefer speaking to a female therapist.
    </p>
  
    <p style="font-size:20px;">
        <b> Confirm that your insurance covers the type of therapy you are seeking</b>
    </p>
    <p>
        Some insurance companies will cover visits with a psychiatrist,
        psychologist or medical doctor but not with a therapist.
    </p>
   
    <p style="font-size:20px;">
        <b>Consider the type of treatment you need- </b>
    </p>
    <p>
        Psychiatrists, psychologists and therapists can all offer you counseling and advice. However, only medical doctors and psychiatrists can prescribe drugs. If you think that you will need medication,
        be sure to choose someone who is licensed to prescribe it.
    </p>
    
    <p style="font-size:20px;">
        <b>Ensure that the therapist's licensing requirements are up to date </b>
    </p>
    <p>
        One useful place to look for licensed therapists is Psychology Today's Therapist Directory.
    </p>
    <p style="font-size:20px;">
        <b>Ask your friends or family </b>
    </p>
    <p>
        If any of your friends or family have ever consulted a therapist,
        ask them what their experiences were like. Did they like their therapist and was the
        treatment helpful? These people can be valuable sources of information when deciding on
        a therapist for yourself.
    </p>
    <p style="font-size:20px;">
        <b>Ask questions- </b>
    </p>
    <p>
    Before starting therapy you should ask your potential therapist questions relevant to the treatment:
    how many sessions you will likely need,
    what will be the cost of the treatment,
    and what happens if you decide to abandon your treatment program.
    Also ask your therapist about his/her areas of expertise and what his/her qualifications are.
    Taking the time to ask all these questions can prove to be extremely helpful in
    finding the right therapist
    and can prevent you from entering into a situation you are not comfortable with.
    </p>
    <p style="font-size:20px;">
        <b>Be sure that your therapist creates an environment of respect in his/her sessions  </b>
    </p>
    <p>
        If you feel uneasy talking to your therapist or don't feel respected, you are more than likely not
        consulting the right therapist. Think about finding someone else.
    </p>
    <p style="font-size:20px;">
        <b> Do what it takes to make yourself feel comfortable</b>
    </p>
    <p>
        There is no shame in being a difficult customer. Remember, you are the one paying for this treatment
        so you may as well be sure that you are satisfied with what you get.
    </p>
    <p style="font-size:20px;">
        <b> Ensure that your therapist's moral values are similar to yours </b>
    </p>
    <p>
        A therapist's role is to guide you in the choices that you make. If your therapist's 
        views are too different, the advice that she/he offers may not make a lot of sense to you. 
        This may make it difficult for you to incorporate this advice into your attitudes and 
        behavior. Therapy, however, is an adversarial process and you shouldn't start looking for 
        a new therapist just because your current therapist challenges your views and attitudes. 
        That's part of his/her job. What is important is the outcome of your sessions. 
        If your therapist is successful in making you think about the choices you make 
        and their outcomes, then you have probably found a therapist that will satisfy your needs.


    </p>


